* {
    font-family: 'Noto Sans', sans-serif ! important;
}

.x-toolbar {
    background-image: none;
    background-color: #FFF;
}

.x-toolbar .x-btn {
    padding: 3px;
}

.x-toolbar .x-btn-over, .x-toolbar .x-btn-menu-active {
    background-color: orange;
}

.x-toolbar .x-btn-over {
    background-color: orange;
}

.x-toolbar .x-btn-over .x-btn-tl, .x-toolbar .x-btn-over .x-btn-tr, .x-toolbar .x-btn-over .x-btn-tc,
.x-toolbar .x-btn-over .x-btn-ml, .x-toolbar .x-btn-over .x-btn-mr, .x-toolbar .x-btn-over .x-btn-mc,
.x-toolbar .x-btn-over .x-btn-bl, .x-toolbar .x-btn-over .x-btn-br, .x-toolbar .x-btn-over .x-btn-bc {
    background-position: 500px 500px;
}

.x-toolbar .x-btn-menu-active .x-btn-tl, .x-toolbar .x-btn-menu-active .x-btn-tr, .x-toolbar .x-btn-menu-active .x-btn-tc,
.x-toolbar .x-btn-menu-active .x-btn-ml, .x-toolbar .x-btn-menu-active .x-btn-mr, .x-toolbar .x-btn-menu-active .x-btn-mc,
.x-toolbar .x-btn-menu-active .x-btn-bl, .x-toolbar .x-btn-menu-active .x-btn-br, .x-toolbar .x-btn-menu-active .x-btn-bc {
    background-position: 500px 500px;
}

.x-menu {
    background-image: none;
    background-color: #FFF;
    border: 1px solid orange;
}

.x-menu-list {
    padding: 0;
}

.x-menu-list-item {
    padding: 3px;
}

.x-menu-item-active {
    background-color: orange;
    background-image: none;
    margin: 0;
    border: none;
}

.x-menu-item-active a.x-menu-item {
    border: none;
    margin: 0;
}

.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {
    border-top: none;
    border-bottom: none;
}

.x-panel-body-noheader, .x-panel-mc .x-panel-body {
    border: none;
}

.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {
    padding: 0;
}

#basic-statusbar {
    padding: 5px;
}

.x-toolbar div.xtb-text a {
    color: orange;
    text-decoration: none;
}

.x-panel-header {
    background-image: none;
    background-color: orange;
    border: none;
    border-bottom: 1px solid #DDD;
    color: #FFF;
    font-size: 14px;
    line-height: 24px;
    padding: 0 5px;
    font-weight: 400;
}

.x-panel-tl .x-panel-header {
    color: #FFF;
    font-size: 14px;
    line-height: 24px;
    padding: 0 5px;
    font-weight: 400;
}

.x-panel-tl {
    background-image: none;
    background-color: orange;
    border-bottom: 1px solid #DDD;
}

.x-panel-tr {
    background-image: none;
    background-color: orange;
    padding: 0;
    border-bottom-color: #DDD;
}

.x-panel-tc {
    background-image: none;
}

.x-panel-body {
    border-color: #DDD;
}

.x-tool-toggle {
    display: none;
}

.x-tab-panel-header,
.x-tab-panel-footer {
    background: none;
    background-color: orange;
    border: none;
}

.x-tab-panel-header {
    padding-bottom: 0;
    border-bottom: 1px solid #DDD;
}

.x-tab-panel-footer {
    padding-top: 0;
    border-top: 1px solid #DDD;
}

ul.x-tab-strip {
    border: none;
    background: none;
}

ul.x-tab-strip-top li {
    margin: 4px 0 0 5px;
}

ul.x-tab-strip-bottom li {
    margin: 0 0 0 5px;
}

.x-tab-strip .x-tab-right,
.x-tab-strip .x-tab-left,
.x-tab-strip .x-tab-strip-inner {
    background: none;
    background-color: #FFF;
}

.x-tab-strip .x-tab-right span.x-tab-strip-text {
    margin: 0;
    padding: 2px 0;
}

.x-tab-strip .x-tab-strip .x-tab-right span.x-tab-strip-text,
.x-tab-strip .x-tab-strip-active .x-tab-right span.x-tab-strip-text,
.x-tab-strip .x-tab-strip-over .x-tab-right span.x-tab-strip-text {
    padding: 2px 0;
}

.x-tab-strip-bottom .x-tab-strip .x-tab-left,
.x-tab-strip-bottom .x-tab-strip-active .x-tab-left,
.x-tab-strip-bottom .x-tab-strip-over .x-tab-left {
    background: none;
    background-color: #FFF;
}

.x-tab-strip-bottom .x-tab-strip .x-tab-right,
.x-tab-strip-bottom .x-tab-strip-active .x-tab-right,
.x-tab-strip-bottom .x-tab-strip-over .x-tab-right {
    background: none;
    margin: 0;
}

.x-tab-strip-bottom .x-tab-left {
    margin: 0;
}

.show-on-demand {
    z-index: 9999;
    position: relative;
}